
# Gradle files
.gradle/
build/
/*/build/
gradle/

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

## Plugin-specific files:

# IntelliJ
out/


### Java ###
*.class

### OSX ###
.DS_Store
.AppleDouble
.LSOverride